.app {
	display: flex;
	flex-direction: column;
}


.header-container {
	width: 100%;
	height: 80vh;
}

@media only screen and (max-width: 900px) {
	.header-container {
		height: 40vh;
	}
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
	.header-container {
		height: 100vh;
	}
}