#header {
	width: 100%;
	position: fixed;
	transition: background 1s;
	z-index: 1000;
}

.nav {
	display: flex;
	margin: 0;
	align-items: center;
	color: white;
}

.nav :nth-child(n+1) {
	padding-left: 2rem;
	margin-top: 8px;
}

.nav :last-child {
	padding-right: 2rem;
}


.nav :nth-child(2) {
	padding-left: 2rem;
	color: #D81F26;
	flex-grow: 1.2;
	flex-basis: 10em;
	font-size: 2rem;
	margin-bottom: 16px;
}