.modal {
	z-index: 1000;
	color: white;
	overflow: none;
	width: 30%;
	min-width: 560px;
	height: 100vh;
	position: fixed;
	background-color: #181818;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	left: 30%;
}

.modal > p {
	width: 100%;
}

.background {   /*Solves issue with clicks as well, blocks clicking through*/
	z-index: 100;
	height: 100vh;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
}

.loading-text {
	font-size: 1em;
}

.iframe {
	width: 100%;
	height: 310px;
}