
.premiere {
	width: 100vw;
	overflow: hidden;
}

.premiere > img {
	width: 100vw;
	position: absolute;
	z-index: 0;
	padding: 0;
	height: 100vh;
}

.shadow {
	width: 100%;
	position: absolute;
	padding: 0;
	height: 100vh;
	box-shadow: 130px -150px 150px 20px black inset;
	z-index: 0;
}

.content {
	position: absolute;
	padding-top: 4em;
	color: white;
	margin-left: 3.95em;
	z-index: 100;
	font-size: 1.3rem;
}

.button-container {
	position: absolute;
	display: flex;
	margin-top: 22em;
	margin-left: 5.4em;
	z-index: 1;
	width: 21vw;
	justify-content: space-between;
}

.button {
	color: white;
	height: 5vh;
	width: 10vw;
	text-align: center;
	font-size: 1.25vw;
	background: rgba(0, 0, 0, 0.5);
	border: none;
	border-radius: 4px;
}

.button:hover {
	background: white;
	color: black;
}
